.footer {
	@extend %flex-center;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: $black;
	color: $white;
	padding: 1rem;
	height: 150px;
	.footer_container {
		@extend %flex-between;
		flex-direction: column;
		height: 100%;
	}
	ul {
		@extend %flex-center;
		margin-bottom: 0.5rem;
		li {
			cursor: pointer;
			@extend %flex-center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $primary;
			margin: 0 0.5rem;
		}
	}
	span {
		width: 100%;
		text-align: center;
	}
}
