*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	min-height: 100vh;
	font-family: $rale;
	background-color: $white;
	color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $jose;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}
